@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vh;
    /* box-sizing:border-box; */
}

/* header/navigation */
nav {
    display: flex;
    justify-content: left;
    background-color: rgb(255, 210, 210) !important;
    border:rgb(255, 112, 112) medium solid;
    padding: 2vw;
    border-radius:2vw;
    margin:1vw;
}
/* 10px to 1vw*/

header img {
    width: 5vw;
    height: 5vw;
    margin: 1em;
}

.nav-active {
    display:flex;
    align-items: center;
    color: darkred;
    text-decoration: none;
    font-weight: bold;
    margin: 1vw;
    border-radius:5px;
    padding: 1vw;
    border: darkred thin solid;
    background-color: rgb(255, 171, 171);
    font-size:medium;
}

.nav-link {
    text-decoration: none;
    display:flex;
    align-items: center;
    color: rgb(255, 94, 94);
    font-weight: bold;
    margin: 1vw;
    border-radius:5px;
    padding: 1vw;
    background-color: rgb(255, 171, 171);
    border: darkred thin solid;
    font-size:medium
}

.userdisplay {
    justify-content:right;
    text-decoration: none;
    color: hsl(135, 92%, 15%);
    font-weight: bold;
    margin: 1em;
    border-radius:0.5vw;
    padding: 2vw;
    background-color: hsl(135, 100%, 84%);
    border: hsl(135, 94%, 14%) thin solid;
    font-size:medium;

}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        width: 50vw;
        justify-content: center;
    }
    header {
        justify-content: center;
        align-items:center;
    }
    #notepadcontainer {
        flex-direction: column;
    }
}

/* body text */
body {
    display:flex;
    flex-direction: column;
    background-color: rgb(253, 255, 240);
    height:50vh; /* TODO::*/
}

html {
    height:100%;
}

main {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.container {
    /* display: grid;
    overflow-y: scroll;
    flex-direction: column;
    flex: 1;
    background-color: rgb(198, 187, 172);
    padding: 1em;
    margin: 1em;
    border-radius: 1em; */
    
    padding: 10px;
    height: calc(89vh - 110px);
    /* overflow-y: scroll; */
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* grid-auto-rows: 200px; */
    grid-gap: 1em;
}

#notepad {
    display:flex;
    border-radius:10px;

}

#note {
    border: none;
    padding:20px;
    background-color: rgb(253, 255, 240);
    font-size:large;
}

.postit {
    display:block;
    width:25vw;
    height:30vh;
    margin:2vw;
    border-radius:0.2vw;
    font-size: medium;
}

#catSelect {
    background-color: rgb(255, 212, 255);
    border: rgb(129, 102, 129) medium solid;
}

#catSelect * {
    margin:1em;
    padding: 0.5em;
    width:20vw
}

#catSelect select {
    background-color: rgb(167, 122, 167);
    border-radius:1vw;
}

#newCategory {
    background-color: rgb(255, 212, 255);
    border-radius:1vw;
    padding:0.5vw;
    margin:1em;
}

#styling {
    background-color: rgb(139, 162, 192);
    border: rgb(117, 127, 236) medium solid;    
}

#styling * {
    margin:0.5vw;
}

#login {
    border: rgb(129, 102, 129) medium solid;
    background-color: rgb(255, 212, 255);
}

#login input {
    background-color:  rgb(255, 212, 255);
    border-radius:1vw;
    width: 20vw;
}

#login * {
    margin:1em;
    color:rgb(66, 52, 66);
}

/* About page text styling */
main > h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
}

main > p {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
}

.notelist > li {
    background-color: rgb(220, 193, 158);
}

.board {
    display:grid;
    grid-gap:1em;
    grid-auto-flow: column;
    padding:10px;
    /* padding: 10px;
    height: calc(100vh - 110px);
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 1em; */
}

.card {
    border:rgb(184, 117, 117) thin solid;
    padding:5px;
    background-color: bisque;
}

#userscontent {
    flex: 2;
}

main button {
    background-color: rgb(255, 255, 146);
    border: rgb(103, 103, 53) thin solid;
    color:rgb(114, 109, 55);
    border-radius:10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

/* credits/footer */
footer {
    background-color: rgb(183, 198, 227);
    border: rgb(105, 105, 212) thin solid;
    /* display: flex;
    justify-content: left;
    text-align: left; */
    padding:1em;
    border-radius: 0.2em;
    /* flex: 0 0 30px; */
    flex-shrink:0;
    font-size:1em;
}
