@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

/* header/navigation */
nav {
    display: flex;
    justify-content: left;
    background-color: rgb(255, 210, 210) !important;
    border:rgb(255, 112, 112) medium solid;
    padding: 20px;
    border-radius: 25px;
    margin:10px;
}

/* header a {
    text-align: center;
    justify-content: center;
    color: rgb(255, 94, 94);
    font-weight: bold;
    margin: 1em;
} */

.nav-active {
    display:flex;
    align-items: center;
    color: darkred;
    text-decoration: none;
    font-weight: bold;
    margin: 1em;
    border-radius:5px;
    padding: 5px;
    border: darkred thin solid;
    background-color: rgb(255, 171, 171);
}

.nav-link {
    text-decoration: none;
    display:flex;
    align-items: center;
    color: rgb(255, 94, 94);
    font-weight: bold;
    margin: 1em;
    border-radius:5px;
    padding: 5px;
    background-color: rgb(255, 171, 171);
    border: darkred thin solid;
}

.userdisplay {
    text-decoration: none;
    color: hsl(135, 92%, 15%);
    font-weight: bold;
    margin: 1em;
    border-radius:5px;
    padding: 15px;
    background-color: hsl(135, 100%, 84%);
    border: hsl(135, 94%, 14%) thin solid;
}

/* body text */
body {
    display:flex;
    flex-direction: column;
    background-color: rgb(253, 255, 240);
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container {
    /* display: grid;
    overflow-y: scroll;
    flex-direction: column;
    flex: 1;
    background-color: rgb(198, 187, 172);
    padding: 1em;
    margin: 1em;
    border-radius: 1em; */
    
    padding: 10px;
    height: calc(100vh - 110px);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 1em;
}

#notepad {
    display:flex;
    border-radius:10px;

}
#note {
    border: none;
    padding:20px;
    background-color: rgb(253, 255, 240);

    
}

#catSelect {
    background-color: rgb(255, 212, 255);
    border-radius:10px;
}

#catSelect select {
    background-color: rgb(103, 58, 103);
    border-radius:10px;
}

main button {
    background-color: rgb(255, 255, 146);
    border: rgb(103, 103, 53) thin solid;
    color:rgb(114, 109, 55);
    border-radius:10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

/* credits/footer */
footer {
    background-color: rgb(183, 198, 227);
    display: inline-flex;
    justify-content: left;
    text-align: left;
    padding:1em;
    border-radius: 0.2em;
    flex: 0 0 30px;
}
